@directory: '../img';

// Retina support
.retina-image(@file-1x, @file-2x, @height-1x, @width-1x) {
  .image-url("@{file-1x}");
  .size(@height-1x, @width-1x);
  background-size: @width-1x @height-1x;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.1),
  only screen and (   min--moz-device-pixel-ratio: 1.1),
  only screen and (     -o-min-device-pixel-ratio: 1.1),
  only screen and (        min-device-pixel-ratio: 1.1),
  only screen and (                min-resolution: 106dpi),
  only screen and (                min-resolution: 1.1dppx) {
    .image-url("@{file-2x}");
  }
}

.image-url (@image) {
  display: block;
  background-image: url("@{directory}/@{image}");
  background-repeat: no-repeat;
}


// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 12%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

// Button sizes
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}